<h1>Twitter Search</h1>
<hr>
<h2>Results</h2>

<form id="filter0" action="/results" method="post">
  <input type="hidden" value="tweets" name="tweets_retweets">
  <input type="hidden" value= "<%= "#{key}" %>" name="key">
</form>

<form id="filter1" action="/results" method="post">
  <input type="hidden" value="retweets" name="tweets_retweets">
  <input type="hidden" value= "<%= "#{key}" %>" name="key">
</form>

<form id="filter2" action="/results" method="post">
  <input type="hidden" value="today" name="filter_option">
  <input type="hidden" value="<%= "#{tweets_retweets}" %>" name="tweets_retweets">
  <input type="hidden" value= "<%= "#{key}" %>" name="key">
</form>

<form id="filter3" action="/results" method="post">
  <input type="hidden" value="last_five_days" name="filter_option">
  <input type="hidden" value="<%= "#{tweets_retweets}" %>" name="tweets_retweets">
  <input type="hidden" value= "<%= "#{key}" %>" name="key">
</form>

<form id="filter4" action="/results" method="post">
  <input type="hidden" value="before_five_days" name="filter_option">
  <input type="hidden" value="<%= "#{tweets_retweets}" %>" name="tweets_retweets">
  <input type="hidden" value= "<%= "#{key}" %>" name="key">
</form>

<center>
Filter :
<% if tweets_retweets == "tweets" %>
  <button type="submit" class="button" form="filter1"><span>Re-tweets</span></button>
<% end %>

<% if tweets_retweets == "retweets" %>
  <button type="submit" class="button" form="filter0"><span>All-tweets</span></button>
<% end %>

  <div class="dropdown">
  <button class="button">Date</button>
    <div class="dropdown-content">
      <button type="submit" class="button" form="filter2"><span>Today</span></button>
      <button type="submit" class="button" form="filter3"><span>Last 5 days</span></button>
      <button type="submit" class="button" form="filter4"><span>Before 5 days</span></button>
    </div>
  </div>
</center>
<hr>
<% if filtered_tweets.count > 0 %>
<p>
  <table>
    <tr>
      <th>No.</th>
      <th>Date</th>
      <th>Username</th>
      <th>Tweet</th>
    </tr>
<% number = 0 %>
  <% filtered_tweets.each do |tweet| %>
      <tr>
        <td> <%= number += 1 %> </td>
        <td> <%= "#{tweet["time"].to_date}" %> </td>
        <td> <%= "#{tweet["name"]}" %> </td>
        <td> <%= "#{tweet["text"]}" %> </td>
      </tr>
  <% end %>
    </table>
<% else %>
  <p> No tweets to display. </p>
<% end %>
</p>
